{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>AVAI -- Audio Visual AI</h1>
    <p>AVAI te permite descobrir músicas que combinam com seu ambiente</p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Getting Started with Python</a> -->
    <!-- <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a> -->
  </div>
  <div class="container">
    <iframe src="https://open.spotify.com/embed/track/5cF0dROlMOK5uNZtivgu50"
      width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
    </iframe>
  </div>
</div>
{% endblock %}
