{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="d-flex flex-row bd-highlight mb-3 text-center jumbotron"><!-- jumbotron text-center"> -->
  <div class="container p-2 bd-highlight">
    <h1>AVAI - Audio Visual AI</h1>
    <p>AVAI te permite descobrir músicas que combinam com seu ambiente</p>
  </div>
  <!-- <div class="container p-2 bd-highlight">
    <iframe src="https://open.spotify.com/embed/track/5cF0dROlMOK5uNZtivgu50"
      width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
    </iframe>
  </div> -->
  <div class="container p-2 bd-highlight">
    <h2>Teste o sistema de recomendação:</h2>
    <form action="/detect/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Enviar" class="btn-primary">
  </form>
  </div>
</div>
{% endblock %}
